<div id="CarouselExampleControls" class="carousel slide carousel-slide mx-auto my-5 border" data-ride="carousel">
  <div class="carousel-inner">
    <div class="cover-text">
      <b><h1>EATable</h1>
      <br><br><br>
      <p class="text-center">このサイトは、予約サイトです<br><br>
        会員でない方も閲覧はできますが<br><br>
        予約には事前に
        <u><%= link_to "会員登録", new_user_registration_path %></u>
        が必要になります</p></b>
    </div>
  </div>
</div>